/* Add this to your CSS file */
.navbar .d-flex i {
    font-size: 1.2rem;  
    color:black;      
  }
  
  .navbar .d-flex .mx-2 {
    margin-right: 1rem;  
  }
  .navbar-collapse{
   
    display: flex;
    justify-content: space-between;
  }
  .navbar-nav{
    margin: auto;
    border: 0px solid black;
    width: 380px;
    justify-content: space-evenly;
  }
  .nav-item a{
    color: black;
    font-weight: bold;
  }
  .navbar-brand{
    font-weight: bold;
  }
  .nav-icons{
    min-width: 210px;
    display: flex;
    justify-content: space-evenly;
    border: 0px solid black;
  }
 